* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*Header decoration*/
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #A9A9A9;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    background: #F5F5DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .logo img{
    width: 50;
    height: 50px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
  .navigation a {
    position: relative;
    font-size: 1.1em;
    color: #e2504c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
  }
  
  .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #e2504c;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
  }
  
  .navigation a:hover::after {
    transform: scaleX(1);
  }
  
  .perfil-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  /*Otro*/

  h1 {
    text-align: center;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.btn_delete {
  background-color: #e2504c;
  color: white;
  padding: 10px 22px;
  border: 1px solid #e2504c;
  cursor: pointer;
}

.btn_delete:hover {
  background-color: white;
  color: #e2504c;
  border-radius: 10px;
  transition: 1s;
}

.btn_update {
    background-color: #1a923c;
    color: white;
    padding: 10px 28px;
    border: 1px solid #1a923c;
    cursor: pointer;
}

.btn_update:hover {
  background-color: white;
  color: #1a923c;
  border-radius: 10px;
  transition: 1s;
}


.ancho_busquda {
  width: 30%; /* Ancho en píxeles */
  display: flex;
  margin-left: -20px
}

#valorFiltro {
  margin-left: -20px; /* Move 20 pixels to the left */
  width: 200px }